openapi: "3.0.0"
info:
  version: 1.0.0
  title: Wine Image API
  description: The Lot 18 Wine Image API microservice.
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT
servers:
  - url: http://wineimages.wineapi.com
paths:
  /images:
    post:
      description: Creates a new image.
      operationId: create_image
      parameters:
        - name: width
          in: cookie
          description: width of the image
          required: true
          schema:
            type: integer
        - name: height
          in: cookie
          description: height of the image
          required: true
          schema:
            type: integer
        - name: parent_id
          in: cookie
          description: ID of the parent image
          required: false
          schema:
            type: integer
        - name: cdn_url
          in: cookie
          description: URL of the image on the CDN
          required: true
          schema:
            type: string
      responses:
        '200':
          description: image response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /images/{id}:
    get:
      description: Returns an image based on a single ID.
      operationId: find_image_by_id
      parameters:
        - name: id
          in: path
          description: ID of image to fetch
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: image response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Image:
      allOf:
        - required:
          - id
          - width
          - height
          - created
          - parent
          - cdn_url
          properties:
            id:
              type: integer
            width:
              type: integer
            height:
              type: integer
            created_on:
              type: string
            parent_id:
              type: object
              properties:
                id:
                  type: integer
                width:
                  type: integer
                height:
                  type: integer
                created_on:
                  type: string
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
